.q-btn {
  cursor: pointer;
  border: #1078AD solid 3px;
  font-family: "Cairo", sans-serif;
  color: #1078AD;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
}
.q-btn--selected {
  color: #F4CF1B !important;
  background-color: #1078AD !important;
}
.q-btn--action {
  background-color: white;
}
.q-btn--action:hover {
  background-color: #1078AD;
  color: white;
}

.q-btn[disabled] {
  background-color: #a6e1ff;
  border: 2px solid lightblue;
  color: white;
  cursor: not-allowed;
}

.question-text {
  color: #787878;
  font-weight: bold;
  font-size: 25px;
}

.radiocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radiobutton {
  margin-left: 10px;
  width: 25px;
  height: 25px;
}

.input {
  border-color: #1078AD;
  height: 40px;
  color: #1078AD;
}

::placeholder {
  color: #1078AD;
}

.textinput {
  border: 2px solid #1078AD !important;
  color: #1078AD;
  height: 35px;
  text-align: end;
  padding-right: 10px;
}

.inputtext, #labeltext {
  color: #1078AD;
  font-size: 24px;
}

.questions-board-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

#questions-board {
  text-align: center;
  justify-content: center;
}

.q-progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
}

.q-progress-bar .progress-bar__progress-con {
  width: 100%;
  border-radius: 30px;
  background-color: #E6F1F7;
}

.q-progress-bar .progress-bar__progress-con .progress-bar__progress {
  width: 20px;
  background-color: #1078AD;
  border-radius: 30px;
  padding: 5px;
}

.bottom-area-con {
  display: flex;
  justify-content: center;
  text-align: center;
}

.q-progress-label {
  margin: 0px !important;
  padding: 0px !important;
}

.answer-form {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.action-btns {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.question-content {
  padding: 15px;
}

.questions-board__steps-containner {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
.questions-board__steps-containner .step .circle {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #0000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.questions-board__steps-containner .step .circle .circle {
  background-color: #1078AD;
}
.questions-board__steps-containner .step .circle.active {
  background-color: #1078AD;
}
.questions-board__steps-containner .step .circle.active .circle {
  background-color: #F4CF1B;
}
.questions-board__steps-containner .step .circle--small {
  width: 20px;
  height: 20px;
}
.questions-board__steps-containner .step.active .circle {
  background-color: #1078AD;
}
.questions-board__steps-containner .step.active .circle .circle {
  background-color: #F4CF1B;
}
.questions-board__steps-containner .step__text {
  font-size: 18px;
  font-weight: 700;
  color: #1078AD;
}

.info-container {
  background-color: #e9ecef;
}
.info-container .header {
  font-size: 18px;
  font-weight: 1000;
  color: #1078AD;
}
.info-container .paragraph-top {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=main.css.map */
