$colorDarkBlue:#1078AD;
$colorred:red;
$colorWhite:white;
$goldenYellow:#F4CF1B;
$grayColor:rgba(0,0,0,.03);
$borderColor:rgba(0,0,0,.125);
$questionTextColor:#787878;
$btnClickedTextColor:$goldenYellow;
$font-size:24px;
$colorLightBlue:#a6e1ff;
$progressLightBg:#E6F1F7;
$infoBackgroundColor:#e9ecef;

.q-btn{
  cursor:pointer;
  border:$colorDarkBlue solid 3px;
  font-family: 'Cairo' , sans-serif;
  color:$colorDarkBlue;
  padding: 10px;
  font-size:20px;
  font-weight:bold;
  display:inline-block;
  border-radius:5px;
  &--selected{
    color:$btnClickedTextColor !important;
    background-color: $colorDarkBlue !important;
  }
  &--action{
    background-color:lighten($colorDarkBlue,70%);
    &:hover{
        background-color:$colorDarkBlue ;
        color:$colorWhite;
    }
  }
}
.q-btn[disabled]{
  background-color: $colorLightBlue;
  border: 2px solid lightblue;
  color: white;
  cursor: not-allowed;
}
.question-text{
  color:$questionTextColor;
  font-weight: bold;
  font-size: 25px;
}
.radiocontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.radiobutton{
  margin-left: 10px;
  width: 25px;
  height: 25px;
}
.input{
  border-color:  $colorDarkBlue;
  height: 40px;
  color: $colorDarkBlue;
}
::placeholder{
  color: $colorDarkBlue;
}
.textinput{  
  border: 2px solid $colorDarkBlue !important;
  color: $colorDarkBlue;
  height: 35px;
  text-align: end;
  padding-right: 10px;
}
.inputtext ,#labeltext{
  color: $colorDarkBlue; 
  font-size: 24px;
}
.questions-board-wrapper{
 border: 1px solid $borderColor;
}
#questions-board{
  text-align: center;
  justify-content: center;
}
.q-progress-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: $grayColor;
  border-bottom: 1px solid $borderColor;
  padding: 0.75rem 1.25rem;
}
.q-progress-bar .progress-bar__progress-con{
  width: 100%;
  border-radius: 30px;
  background-color: $progressLightBg;
}
.q-progress-bar .progress-bar__progress-con .progress-bar__progress{
  width: 20px;
  background-color: $colorDarkBlue;
  border-radius: 30px;
  padding: 5px;
}
.bottom-area-con{
  display: flex;
  justify-content: center;
  text-align: center;
}
.q-progress-label{
  margin: 0px !important;
  padding: 0px !important;
}
.answer-form{
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.action-btns{
  display:flex;
  justify-content: space-between;
  margin: 15px;
}
.question-content{
  padding: 15px;
}
.questions-board__steps-containner {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  .step {
    .circle {
      display: inline-block;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: #0000;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .circle {
        background-color: $colorDarkBlue;
      }

      &.active {
        background-color: $colorDarkBlue;

        .circle {
          background-color: $goldenYellow;
        }
      }

      &--small {
        width: 20px;
        height: 20px;
      }
    }

    &.active {
      .circle {
        background-color: $colorDarkBlue;

        .circle {
          background-color: $goldenYellow;
        }
      }

    }
    &__text{
      font-size:18px;
      font-weight:700;
      color:$colorDarkBlue;
    }
  }
}
.info-container{
  background-color: $infoBackgroundColor;
  .header{
    font-size:18px;
    font-weight:1000;
    color:$colorDarkBlue;
  }
  .paragraph-top{
    margin-bottom: 50px;
      padding-bottom: 50px;
      border-bottom:1px solid rgba(0,0,0,.1);
    }

}