$colorDarkBlue:#1078AD;
$colorred:red;
$colorWhite:white;
$goldenYellow:#F4CF1B;
$grayColor:rgba(0,0,0,.03);
$borderColor:rgba(0,0,0,.125);
$questionTextColor:#787878;
$btnClickedTextColor:$goldenYellow;
$font-size:24px;
$colorLightBlue:rgba(77, 163, 206, 0.1);;
$progressLightBg:#E6F1F7;
$infoBackgroundColor:#e9ecef;
$btnDisabledBorderColor:#1078AD;
.text-primary{
  color:$colorDarkBlue !important;
}
.q-btn{
  cursor:pointer;
  border:$colorDarkBlue solid 2px;
  font-family: 'Cairo' , sans-serif;
  color:$colorDarkBlue;
  padding: 10px;
  font-size:20px;
  font-weight:bold;
  display:inline-block;
  border-radius:5px;
  &--selected{
    color:$btnClickedTextColor !important;
    background-color: $colorDarkBlue !important;
  }
  &--action{
    background-color:lighten($colorDarkBlue,70%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    &:hover{
        background-color:$colorDarkBlue ;
        color:$colorWhite;
    }
  }
  &[disabled]{
    background-color: $colorLightBlue;
    color: $btnDisabledBorderColor;
    border-color:$btnDisabledBorderColor;
    cursor: not-allowed;
  }
}
.question-text{
  color:$questionTextColor;
  font-weight: bold;
  font-size: 25px;
}
.radiocontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.radiobutton{
  margin-left: 10px;
  width: 25px;
  height: 25px;
}
::placeholder{
  color: $colorDarkBlue;
}
.inputtext {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 80%;
  display: flex;
  align-items: center;
  border: 0.5px solid #1078AD;
  background-color: $colorLightBlue;
  .textinput {
    background-color: white;
    color: $colorDarkBlue;
    height: 35px;
    text-align: start;
    box-shadow: none;
    padding-right: 10px;
    flex: 1;
    outline: 0;
    border: 0;
    border-radius: 0px;
    border-right: 0.5px solid #1078AD;
    &.invalide{
      background-color: #a9444231;
      color: #a94442;
    }
  }
  #labeltext {
    padding: 0px 5px;
    color: $colorDarkBlue;
  }
}

.questions-board-wrapper{
 border: 1px solid $borderColor;
}
#questions-board{
  text-align: center;
  justify-content: center;
}
.q-progress-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: $grayColor;
  border-bottom: 1px solid $borderColor;
  padding: 0.75rem 1.25rem;
}
.q-progress-bar .progress-bar__progress-con{
  width: 100%;
  border-radius: 30px;
  background-color: $progressLightBg;
}
.q-progress-bar .progress-bar__progress-con .progress-bar__progress{
  width: 20px;
  background-color: $colorDarkBlue;
  border-radius: 30px;
  padding: 5px;
}
.bottom-area-con{
  display: flex;
  justify-content: center;
  text-align: center;
}
.q-progress-label{
  margin: 0px !important;
  padding: 0px !important;
}
.answer-form{
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.action-btns{
  display:flex;
  justify-content: space-between;
  margin: 15px;

}
.question-content{
  padding: 1.25rem;
  .question-text{
    padding-top: 20px;
    color: #787878;
    font-family: 'Cairo', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
    line-height: 45px;
    min-height: 150px;
  }
  label{
    font-weight: 500;
    color: $colorDarkBlue;
    text-transform:capitalize;
    margin: 0px;
  }
}
.questions-board__steps-containner  {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  .step {
    .circle {
      display: inline-block;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: #0000;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .circle {
        background-color: $colorDarkBlue;
      }

      &--small {
        width: 20px;
        height: 20px;
      }
    }

    &.active {
      .circle {
        background-color: $colorDarkBlue;

        .circle {
          background-color: $goldenYellow;
        }
      }
    }
    &__text{
      font-size:18px;
      font-weight:700;
      color:$colorDarkBlue;
    }
  }
}
.info-container{
  background-color: $infoBackgroundColor;
  .header{
    font-size:18px;
    font-weight:1000;
    color:$colorDarkBlue;
  }
  .paragraph-top{
    margin-bottom: 50px;
      padding-bottom: 50px;
      border-bottom:1px solid rgba(0,0,0,.1);
    }

}