$colorDarkBlue:#1078AD;
$colorred:red;
$colorWhite:white;
$goldenYellow:#F4CF1B;
$grayColor:rgba(0,0,0,.03);
$borderColor:rgba(0,0,0,.125);
$questionTextColor:#787878;
$btnClickedTextColor:$goldenYellow;
$font-size:24px;
$colorLightBlue:#a6e1ff;

.q-btn{
  cursor:pointer;
  border:$colorDarkBlue solid 3px;
  font-family: 'Cairo' , sans-serif;
  color:$colorDarkBlue;
  padding: 10px;
  font-size:20px;
  font-weight:bold;
  display:inline-block;
  border-radius:5px;
  &--selected{
    color:$btnClickedTextColor !important;
    background-color: $colorDarkBlue !important;
  }
  &--action{
    background-color:lighten($colorDarkBlue,70%);
    &:hover{
        background-color:$colorDarkBlue ;
        color:$colorWhite;
    }
  }
}
.q-btn[disabled]{
  background-color: $colorLightBlue;
  border: 2px solid lightblue;
  color: white;
  cursor: not-allowed;
}
.question-text{
  color:$questionTextColor;
  font-weight: bold;
  font-size: 25px;
}
.radiocontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.radiobutton{
  margin-left: 10px;
  width: 25px;
  height: 25px;
}
.input{
  border-color:  $colorDarkBlue;
  height: 40px;
  color: $colorDarkBlue;
}
::placeholder{
  color: $colorDarkBlue;
}
.textinput{  
  border: 2px solid $colorDarkBlue !important;
  color: $colorDarkBlue;
  height: 35px;
  text-align: end;
  padding-right: 10px;
}
.inputtext ,#labeltext{
  color: $colorDarkBlue; 
  font-size: 24px;
}
.questions-board{
  text-align: center;
  justify-content: center;
}
.q-progress-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;;
}
.q-progress-bar .progress-bar__progress-con{
  width: 100%;
  border-radius: 30px;
  background-color: $colorLightBlue;
}
.q-progress-bar .progress-bar__progress-con .progress-bar__progress{
  width: 20px;
  background-color: $colorDarkBlue;
  border-radius: 30px;
  padding: 5px;
}
.bottom-area-con{
  display: flex;
  justify-content: center;
  text-align: center;
}
.q-progress-label{
  margin: 0px !important;
  padding: 0px !important;
}
.content{
  display: flex;
  justify-content: center;
}
.top-area-con{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.top-area-con .circle{
  background-color: $colorDarkBlue;
  padding: 10px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.dot_dot_left{
  background-color: $colorLightBlue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.dot_dot_center{
  background-color: $colorLightBlue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.dot_dot_right{
  background-color: $colorLightBlue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
